!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for(:title) || "Books Giveaway"
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "yes", :name => "mobile-web-app-capable"}/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{:href => "/icon.png", :rel => "icon", :type => "image/png"}/
    %link{:href => "/icon.svg", :rel => "icon", :type => "image/svg+xml"}/
    %link{:href => "/icon.png", :rel => "apple-touch-icon"}/
    -# = stylesheet_link_tag :app, "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"

  %body.h-screen
    .relative.h-full
      .absolute.inset-0.text-slate-100
        %svg{:height => "100%", :width => "100%"}
          %defs
            %pattern#polka-dots{:fill => "none", :height => "50", :patternunits => "userSpaceOnUse", :stroke => "currentColor", "stroke-width" => "1.5", :viewbox => "0 0 48 48", :width => "50", :x => "0", :y => "0"}
              %path{:d => "M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25", "stroke-linecap" => "round", "stroke-linejoin" => "round", :transform => "translate(12, 12)"}
          %rect{:fill => "url(#polka-dots)", :height => "100%", :width => "100%", :x => "0", :y => "0"}

      %main.container.py-4.md:py-8.prose.z-20.relative
        = yield
